*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
    /* animation: MoveBody linear 3s infinite; */
   
}
.sky{
    position: absolute;
    width: 100vw;
    height: 100vh;
    bottom: 10vh;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* animation: MoveBody linear .3s infinite; */
}
.trees{
    position: absolute;
    width: 100vw;
    height: 100vh;
    bottom: 18vh;
    background-image: url(trees.png);
    background-size: cover;
}
.track{
    position: absolute;
    height: 100vh;
    width: 800vw;
    background-image: url(track.png);
    background-repeat: repeat-x;
    top: 70vh;
    animation: TrackMove linear 1s infinite;
}
.car{
    position: absolute;
    width: 100vh;
    height: 100vh;
    background-image: url(car_body.png);
    background-repeat: no-repeat;
    background-size: 70vh;
    top: 57vh;
    left: 30vh;
    animation: BodyCar linear 2s infinite;
}
.wheel1 img{
    position: relative;
    width: 15vh;
    height: 16vh;
    /* background-image: url(car_wheel_left.png); */
    /* background-repeat: no-repeat;
    background-size: 14vh; */
    top: 6vh;
    left: 8vh;
    animation: MoveWheel linear .16s infinite;
}
.wheel2 img{
    position: relative;
    width: 17vh;
    height: 17vh;
    /* background-image: url(car_wheel_right.png); */
    /* background-repeat: no-repeat;
    background-size: 15vh; */
    top: -10vh;
    left: 43vh;
    animation: MoveWheel linear .16s infinite;
}

@keyframes MoveWheel {
    100% {
        transform: rotate(360deg);
    }
}
@keyframes TrackMove {
    /* 100%{
        transform: translateX(-500vw);
    }
    50%{
        transform: translateX(0vh);
    }
    0%{
        transform: translateX(500vw);
    } */
    100%{
        background-position: 0% 10%;
    }
    0%{
        background-position: 100% 10%;
    }
  
}
@keyframes BodyCar {
    100%{
        transform: translateY(-2vh);
    }
    100%{
        transform: translateY(0vh);
    }
    100%{
        transform: translateY(2vh);
    }
    
}
 @keyframes MoveBody {
    100%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0vh);
    }
    100%{
        transform: translateY(20vh);
    }
    
}